.card {

  padding: 20px;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-radius: 10px; */
  box-shadow: 0 4px 8px 0 rgba(13, 0, 0, 0.974);
  transition: transform 0.3s;
}
.card:hover, .card:focus, .card:active {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.card-img-top {
  object-fit: cover;
  height: 400px; /* or any height you prefer */
}
.card.my-2 {
  height: 497px;
}

